
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Playfair Display", serif;
}

#navInicio {
    width: 100%;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}


#navInicio h2 {
    color: rgb(255, 255, 255);
}

.miDiv {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/fondoinicioAzul.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.miTexto{
    font-size: 18px;
    color: white;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 600px;
    text-align: justify;
    justify-content: center;
    gap: 60px;
    margin-right: 40%;
    align-items: center;
}

button.entrena {
    padding: 20px;
    font-size: 21px;
    border-radius: 20px 10px;
}

.miTexto p {
    color: white;
    width: 40%;
    font-size: 20px;
    text-align: center;
}

.footer{
    color: white;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom right, #03045e, #000000);
    justify-content: space-between;
    gap: 40px;
    max-width: 100%;
    width: 100%; 
    padding: 30px; 
    margin: 0; 
}

.redes{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-left: 30px;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.redesImg{
    width: 100px;
    height: 100px;
}

.direccion{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 15px;
    font-size: 18px;
    margin-right: auto;
    margin-left: auto;

}


.footer img {
    max-width: 40px; 
}


.redes img {
    width: 35px; 
    height: 35px; 
}

@media screen and (max-width: 768px) {

    #navInicio{
        flex-direction: column;
        font-size: 15px;
        margin: 5px;
        gap: 5px;
    }

    .miTexto{
        font-size: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-right: 0;
    }

    .miTexto p {
        width: 100%;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        justify-content: center;
        font-size: 30px;
        max-width: 60%;
    }

    .miDiv{
        background-image: url('../assets/PortadaJaguaMobile.jpg');
    }
    .footer{
       display: flex;
    }

    .direccion{
        font-size: 13px;

    }

    
}
@media screen and (min-width: 769px) and (max-width: 1024px){
    
    #navInicio{
        font-size: 15px;
    }

    .miDiv{
        background-image: url(../assets/PortadaJaguaMobile.jpg);
    }

    .miTexto{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0;
        font-size: 23px;
        
    }
    .miTexto p{
        font-size: px;
        max-width: 90%;
    }
}


/**NOSOTROS**/
.nosotros h1{
    text-align: center;
    padding: 20px;
    margin: 0;
}

.galeriaContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.galeria--img{
    width: 100%;
}

/**SOCIOS**/

.sociosbody{
    background: linear-gradient(to bottom, #000000, #000044);
}
.containerSocios{
    width: 100%;
    height: 100vh;
}
.containerSocios div{
    width: 40vh; 
    height: 49vh;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: red;
    border-radius: 20px;;
    text-align: center;

}
.login-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 22px;
    margin-bottom: 30px;
}

.login-form h1{
    margin-bottom: 30px;
}
.form-group{
    margin-bottom: 10px;
}

.logo{
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px auto 0;
   
}

#loginBtn{
    padding: 7px;
    border-radius: 10px;
    font-size: 15px;
}

#loginBtn:hover{
    background-color: ##000028;
    color: white;
}

/**DEPORTES**/

.deportesColor{
    background: linear-gradient(to bottom, #000000, #000044);
    color: rgb(255, 255, 255);
}

.navDeportes{
    color: white;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.divDeportes{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 30px;
}
.divDeportes h1{
    padding: 50px;
    font-size: 55px;
}
.divDeportes p{
    display: flex;
    justify-content: center;
    max-width: 600px;
    text-align: justify;
    align-items: center;
    padding-bottom: 30px;
}

.divDeportes h2{
    padding-bottom: 20px;
}


/**HISTORIA**/

.historiaColor{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Kanit", sans-serif;
    background: linear-gradient(to bottom, #000000, #000044);
    color: white;
}

 .navDeportes{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.portadaHistoria{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 30px;
}

.divDeportes  {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 20px;
    padding: 50px;
}

.divTitulos{
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 40px;
    margin-bottom: 50px;
}

/**CONTACTO**/

.contactoColor{
    background: linear-gradient(to bottom, #000000, #000044);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

.navLogo{
    display: flex;
    justify-content: center;
    padding:  20px;
 
}

.input-group{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 10px ;
    color: white;
    background: red;
    margin-right: 80px;
    margin-left: 80px;
    gap: 15px;
    margin: 0 auto; 
    max-width: 400px
}

.contactoMail input[type="text"],
.contactoMail textarea {
    color: black; 
}

.contactoMail h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold ;
    font-size: 42px;
    text-align: center;
    margin-top: 10px;
    gap: 20px;
}

.button{ color: black;
        padding: 10px;
        font-size: 11px;
        border-radius: 20px 10px;
        
    }
